body {
    background-color: #1c2430;
    color: #f4f4f4;
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Regular Dark Mode Navigation Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0e1018;
    color: #f4f4f4;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.topnav {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    background-color: #0e1018;
}

.topnav a {
    float: left;
    color: #f4f4f4;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
}

.topnav a.active {
   background-color: #1a8787;
   color: #f4f4f4;
   border-radius: 12px; 
}

.topnav a:hover {
    background-color: #1a8787;
    color: #f4f4f4;
    border-radius: 12px; 
}

/* Light Mode */

.light-mode {
  background-color: #f5f7fa;
  color: #1c1c1e;
}

body.light-mode .navbar,
body.light-mode .topnav {
    background-color: #dbdbdb;
    color: #1c1c1e;
}

body.light-mode .topnav a {
    color: #1c1c1e;
}

body.light-mode .topnav a.active {
    background-color: #a6e3e9;
    color: #1c1c1e;
}

body.light-mode .topnav a:hover {
    background-color: #a6e3e9;
    color: #1c1c1c;
}

/* Toggle Button */
#light-toggle {
    padding: 2px;
    border-radius: 12px;
    border-color:#f4f4f4
}

/* Page Visibility */
.page {
    /* opacity: 0;
    transition: opacity 0.3s ease; */
    display: none;
}

.page.active {
    display: block;
    /* opacity: 1; */
}


/* Page Format */

.page-content {
    padding-left: 40px;
}

.page-header {
    padding-left: 40px;
    padding-top: 10px;
}

/* Dashboard Page Styling */
.dashboard-container {
    padding: 1rem 2rem;
}

.map-container {
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 20%;
  background-color: #0e1018;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  color: #f4f4f4;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  min-width: 120px;
}

.card .label {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 0.3rem;
}

.card .value {
  font-size: 1.6rem;
  font-weight: bold;
}

.card .unit {
  font-size: 1rem;
  font-weight: normal;
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  background-color: #1c2430;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Run History Page */

table, th, td {
  border: solid;
  justify-content: center;
}

table {
  border: 1px solid;
  width: 50%;
  margin: 40px;
  border-collapse: collapse;
  border-spacing: 15px;
  border-color: #0e1018;
}

th, td {
  padding: 20px 80px;
  text-align: center;
  border-color: #0e1018;
  
}

th {
  background-color: #a6e3e9;
  color: #0e1018;
}

tr {
  
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #0e1018; 
}


/* User Goals */
.progress-bar {
  width: 300px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0px 0px 40px;
}

.progress {
  height: 100%;
  background-color: #4CAF50;
  width: 0%; /* Initial progress */
  border-radius: 10px;
  transition: width 0.3s ease; /* Smooth transition */
}

.badge {
  display: inline-block;
  padding: 10px 0px 0px 40px;
}


/* Settings Page styling */

#settings-form {
    /* max-width: 400px; */
    max-width: 90%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #0e1018;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    color: #f4f4f4;
}

#settings-form label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #a0a0a0;
  padding: 5px;
}

#settings-form input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #1c2430;
  color: #f4f4f4;
  font-size: 1rem;
}

#settings-form input:focus {
  outline: none;
  border: 2px solid #1a8787;
}

#settings-form button {
  width: 100%;
  justify-content: center;
  padding: 0.7rem;
  background-color: #1a8787;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#settings-form button:hover {
  background-color: #15b1b1;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto 2rem auto;
}

/* Style for reset/export buttons */
.secondary-btn {
  padding: 0.75rem;
  background-color: #1a8787;
  color: white;
  border-radius: 0.5rem;
  border-color: #1a8787;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.secondary-btn:hover {
  background-color: #15b1b1;
  color: #ffffff;
}